<!-- <head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head> -->
<!-- <body> -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a routerLink=#>About Us</a></li>
                        <li><a routerLink=#>Contact Us</a></li>
                        <li><a routerLink=#>Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a routerLink=#>FAQ</a></li>
                        <li><a routerLink=#>Order Status</a></li>
                        <li><a routerLink=#>Payment Options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a routerLink="#"><i class="fab fa-facebook-f"></i></a>
                        <a routerLink="#"><i class="fab fa-twitter"></i></a>
                        <a routerLink="#"><i class="fab fa-instagram"></i></a>
                        <a routerLink="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- </body> -->