<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Get Pack Go</title>

    </head>
    <body>
        <div class="header">
            <nav>
                <img src="/assets/images/getpackgo.png">
                <div class="text-box">
                    <a routerLink="/customer" data-toggle="tooltip" title="Home Page"><p>Get Pack Go</p></a>
                </div>
                <ul>
                    <li><a routerLink="/customer">Home</a></li>
                    <li><a routerLink="/bookingstatus">History</a></li>
                    <li><a href="" (click)="logout()">Log out</a></li>
                    <li><a routerLink="/user/profile" data-toggle="tooltip" title="Profile"><i class="fa fa-fw fa-user"></i></a></li>
                </ul>
            </nav>

        </div>
    </body>
</html>
