@import url('https://drive.google.com/file/d/1r-SvkG9QO-KOSlesc19hEEyWQ6U3CKJ-/view?usp=drivesdk');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    width: 100;
    height:min-content;
    padding: 0 10%;
    background: rgb(244, 166, 166);
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(44, 42, 42);
}

.text-box{
    margin-top: 10px;
    max-width: 600px;
}

.text-box p{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(44, 42, 42);
}

.text-box p:hover{
    text-decoration: underline rgb(244, 166, 166);
}