
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Get Pack Go</title>

    </head>
    <body>
        <div class="header">
            <nav>
                <img src="/assets/images/getpackgo.png">
                <div class="text-box">
                    <a routerLink="" data-toggle="tooltip" title="Home Page"><p>Welcome to Get Pack Go</p></a>
                </div>
                <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/user/register">Sign Up</a></li>
                </ul>
            </nav>

        </div>
    </body>
</html>